<h1>New Strategy</h1>
<hr/>
<div style="padding-top: 20px">
<div class="card">
    <div class="card-header">
      Create a New Strategy
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bollinger Bond</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  tooltip="Not currently available" placement="top" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Moving Averages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tooltip="Not currently available" placement="top" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Simple Strategy</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div style="padding-top: 30px">
            <app-new-bollinger></app-new-bollinger>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div style="padding-top: 30px">
            <div style="padding-top: 20px">
              <p class="text-lead">
                This Strategy is not yet implemented... Expected Release - V1.1
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div style="padding-top: 30px">
            <div style="padding-top: 20px">
              <p class="text-lead">
                This Strategy is not yet implemented... Expected Release - V1.2
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
