<div *ngIf="validStock == true">
<h1>Stock Details - <span class="text-uppercase">{{ ticker }}</span></h1>
  <hr/>
<div style="padding-top: 20px">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
<br/>
<br/>
  <div style="padding-top: 20px; padding-bottom: 50px">
    <div class="card">
      <h5 class="card-header">Strategies Associated with this Stock - <span class="text-uppercase">{{ ticker }}</span></h5>
      <div class="card-body">
        <ngx-datatable
          class="material"
          [rows]="allStrategy"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="5"
          [selected]="selected"
          [sorts]="[{prop: 'id', dir: 'desc'}]"
          [selectionType]="'single'"
          (activate)="onActivate($event)"
          (select)='onSelect($event)'
        >
          <ngx-datatable-column [sortable]="true" prop="id" name="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              ID
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column prop="stock.ticker" name="stockTicker">
            <ng-template let-column="column" ngx-datatable-header-template>
              Ticker
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column  name="currentPosition">
            <ng-template let-column="column" ngx-datatable-header-template>
              Current Position
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="badge badge-success" *ngIf="value == '1'">
                  BUY
              </span>
              <span class="badge badge-danger" *ngIf="value == '0'">
                  SELL
              </span>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="size">
            <ng-template let-column="column" ngx-datatable-header-template>
              Volume
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="lastTradePrice">
            <ng-template let-column="column" ngx-datatable-header-template>
              Last Trade Price
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | currency:'GBP'}}
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="exitProfitLoss">
            <ng-template let-column="column" ngx-datatable-header-template>
              Exit Profit Loss
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | currency:'GBP'}}
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="profit">
            <ng-template let-column="column" ngx-datatable-header-template>
              Profit
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | currency:'GBP'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="stopped">
            <ng-template let-column="column" ngx-datatable-header-template>
              Stopped
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="badge badge-success" *ngIf="value == ''">
                          ACTIVE
              </span>
              <span *ngIf="value != null" style="color:red">
                {{value | date: 'medium'}}
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<div *ngIf="validStock == false">
  <p class="text-lead">There is no information available for this stock - {{ ticker }}</p>
  <p class="text-lead">Please return to the <a routerLink="">homepage</a></p>
</div>

