<div>

  <div class="form-group">
    <label>Choose A Stock:</label>
    <select [(ngModel)]="inputStock" class="form-control">
      <option *ngFor="let stock of allStocks" value="{{stock.id}}">{{stock.ticker}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Volume of Stock</label>
    <input class="form-control" [(ngModel)]="inputVolume" step="1" min="0" type="number"/>
  </div>

  <div class="form-group">
    <label>Duration of Standard Deviation Figure (Days)</label>
    <input class="form-control" [(ngModel)]="inputDuration" step="1" min="0" max="60" type="number"/>
  </div>


  <label>Exit Profit Loss</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">£</span>
    </div>
    <input class="form-control" [(ngModel)]="inputProfitLoss" step="0.01" min="0" type="number"/>
  </div>

  <div class="row" style="padding-top: 25px">
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
      <div>
        <button (click)="submitBollingerStrategy()" class="btn btn-primary btn-block">
          Submit Bollinger Strategy
        </button>
      </div>
    </div>
    <div class="col-lg-5"></div>
  </div>

  <div style="padding-top: 30px" *ngIf="msgString !== ''">
    <div class="{{msgClass}}" role="alert">
      {{msgString}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

</div>
