
<h1 class="text-left">Trade Management</h1>

<hr/>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Filter Trade by Ticker;</label>
            <input
            type="text"
            class="form-control"
            placeholder="Type to filter the Ticker column..."
            (keyup)="updateFilter($event)"
            />    
            <small class="form-text text-muted">Example: AAPL</small>
        </div>
    </div>
</div>
<ngx-datatable
class="material"
[rows]="rows"
[columnMode]="'force'"
[columns]="columns"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="5"
[selected]="selected"
[sorts]="[{prop: 'id', dir: 'desc'}]"
[selectionType]="'single'"
(activate)="onActivate($event)"
(select)='onSelect($event)'
>
<ngx-datatable-column [sortable]="true" prop="id" name="id">
        <ng-template let-column="column" ngx-datatable-header-template>
                ID
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [sortable]="  " prop="stockTicker" name="stockTicker">
        <ng-template let-column="column" ngx-datatable-header-template>
                Ticker
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
         {{value}}
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column  name="price">
        <ng-template let-column="column" ngx-datatable-header-template>
                Price
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
         {{value | currency:'GBP'}}
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="size">
        <ng-template let-column="column" ngx-datatable-header-template>
                Volume
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
         {{value}}
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="state">
        <ng-template let-column="column" ngx-datatable-header-template>
                State
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="badge badge-light" *ngIf="value == 'INIT'">
                        {{value}}
                </span>
                <span class="badge badge-danger" *ngIf="value == 'REJECTED'">
                        {{value}}
                </span>
                <span class="badge badge-info" *ngIf="value == 'WAITING_FOR_REPLY'">
                        {{value}}
                </span>
                <span class="badge badge-success" *ngIf="value == 'FILLED'">
                        {{value}}
                </span>
                <span class="badge badge-primary" *ngIf="value == 'PARTIALLY FILLED'">
                        {{value}}
                </span>
                <span class="badge badge-dark" *ngIf="value == 'CANCELED'">
                        {{value}}
                </span>
                 <span class="badge badge-secondary" *ngIf="value == 'DONE_FOR_DAY'">
                        {{value}}
                </span>
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="tradeType">
        <ng-template let-column="column" ngx-datatable-header-template>
                Type
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
         <span class="badge badge-success" *ngIf="value == 'BUY'">
                  BUY
          </span>
          <span class="badge badge-danger" *ngIf="value == 'SELL'">
                  SELL
      </span>
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="lastStateChange">
        <ng-template let-column="column" ngx-datatable-header-template>
                Last State Change
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
         {{value | date: 'medium'}}
        </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="accountedFor">
        <ng-template let-column="column" ngx-datatable-header-template>
                Accounted For
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value == true" style="color:green">
                    <i class="fa fa-check-circle"></i>
            </span>
            <span *ngIf="value == false" style="color:red">
                    <i class="fa fa-times-circle"></i>
            </span>
        </ng-template>
</ngx-datatable-column>
</ngx-datatable>

