<div *ngIf="validStrategy == true">
  <h1>Strategy Details - ID <span class="text-uppercase">{{ strategyId }}</span></h1>
  <hr/>
  <div style="padding-top: 20px">
  <div class="card">
    <h5 class="card-header">Details</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <p class="lead"><strong>ID: </strong>{{response[0].strategy.id}}</p>
          <p class="lead"><strong>Ticker: </strong>{{response[0].strategy.stock.ticker}}</p>
          <p class="lead"><strong>Volume: </strong>{{response[0].strategy.size}}</p>
          <p class="lead"><strong>Exit Profit Loss: </strong>{{response[0].strategy.exitProfitLoss}}</p>
          <p class="lead"><strong>Current Position: </strong><span>
            <span class="badge badge-success" *ngIf="response[0].strategy.currentPosition == '1'">
                  BUY
            </span>
            <span class="badge badge-danger" *ngIf="response[0].strategy.currentPosition == '0'">
                  SELL
            </span>
          </span></p>

        </div>
        <div class="col-lg-4">
          <p class="lead"><strong>Last Trade Price: </strong>{{response[0].strategy.lastTradePrice}}</p>
          <p class="lead"><strong>Profit: </strong>{{response[0].strategy.profit}}</p>
          <p class="lead"><strong>Stopped: </strong>
            <span *ngIf="response[0].strategy.stopped != ''">{{response[0].strategy.stopped | date: 'medium'}}</span>
            <span class="badge badge-success" *ngIf="response[0].strategy.stopped == null">
                  ACTIVE
            </span>
          </p>
          <p class="lead"><strong>Duration: </strong>{{response[0].strategy.duration}} days</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div style="padding-top: 20px">
    <div class="card">
      <h5 class="card-header">Trades for this Strategy</h5>
      <div class="card-body">
        <ngx-datatable
          class="material"
          [rows]="response"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="5"
          [sorts]="[{prop: 'id', dir: 'desc'}]"
        >
          <ngx-datatable-column [sortable]="true" prop="id" name="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              ID
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="  " prop="stockTicker" name="stockTicker">
            <ng-template let-column="column" ngx-datatable-header-template>
              Ticker
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  name="price">
            <ng-template let-column="column" ngx-datatable-header-template>
              Price
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | currency:'GBP'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="size">
            <ng-template let-column="column" ngx-datatable-header-template>
              Volume
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="state">
            <ng-template let-column="column" ngx-datatable-header-template>
              State
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="badge badge-light" *ngIf="value == 'INIT'">
                        {{value}}
                </span>
              <span class="badge badge-danger" *ngIf="value == 'REJECTED'">
                        {{value}}
                </span>
              <span class="badge badge-info" *ngIf="value == 'WAITING_FOR_REPLY'">
                        {{value}}
                </span>
              <span class="badge badge-success" *ngIf="value == 'FILLED'">
                        {{value}}
                </span>
              <span class="badge badge-primary" *ngIf="value == 'PARTIALLY FILLED'">
                        {{value}}
                </span>
              <span class="badge badge-dark" *ngIf="value == 'CANCELED'">
                        {{value}}
                </span>
              <span class="badge badge-secondary" *ngIf="value == 'DONE_FOR_DAY'">
                        {{value}}
                </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="tradeType">
            <ng-template let-column="column" ngx-datatable-header-template>
              Type
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="lastStateChange">
            <ng-template let-column="column" ngx-datatable-header-template>
              Last State Change
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | date: 'medium'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="accountedFor">
            <ng-template let-column="column" ngx-datatable-header-template>
              Accounted For
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value == true" style="color:green">
                    <i class="fa fa-check-circle"></i>
            </span>
              <span *ngIf="value == false" style="color:red">
                    <i class="fa fa-times-circle"></i>
            </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>







<div *ngIf="validStrategy == false">
  <p class="text-lead">There is no information available for this Strategy ID - {{ strategyId }}</p>
  <p class="text-lead">Please return to the <a routerLink="">homepage</a></p>
</div>
