<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: fixed; width: 100%; z-index: 9999; top: 0;">
  <a class="navbar-brand" routerLink="/">SCC Algo Trading</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/newstrategy">New Strategy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stockmanagement">Stock Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/strategymanagement">Strategy Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/trademanagement">Trade Management</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <img src="../assets/citi-1-675714.png" height="20%" width="20%">
    </div>
  </div>
</nav>
<div class="row" style="padding-top: 120px">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-2"></div>
</div>
