
<h1 class="text-left">Stock Management</h1>
<p class="lead">Prices will automatically update upon change</p>

<hr/>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
    </div>
  </div>
</div>
<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="5"
  [selected]="selected"
  [sorts]="[{prop: 'stock_id', dir: 'asc'}]"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'
>
  <ngx-datatable-column name="ID" prop="stock.id">
    <ng-template let-column="column" ngx-datatable-header-template>
      ID
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{value}}</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="stock.ticker">
    <ng-template let-column="column" ngx-datatable-header-template>
      Ticker
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column  name="price">
    <ng-template let-column="column" ngx-datatable-header-template>
      Price
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value | currency:'GBP'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="recordedAt">
    <ng-template let-column="column" ngx-datatable-header-template>
      Last Updated
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value | date: 'medium'}}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

