<h2 style="padding-top:25px">My Active Strategies</h2>
<p class='lead'>Strategies that are still trading</p>
<hr/>
<div>
  <div *ngIf="activeStrategy != []">
    <div class="col-lg-10" *ngFor="let activeStrat of activeStrategy; index as i">
      <div class="alert alert-primary" role="alert">
        <p><strong>Strategy ID: {{activeStrat.id}}</strong> is still running on Stock: {{activeStrat.stock.ticker}} - <a class="text-right" routerLink="/strategydetails/{{activeStrat.id}}">Click Here to view Strategy Details</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-10" *ngIf="activeStrategy.length < 1">
    <p class="lead">No Active Strategies</p>
  </div>


<h2 style="padding-top:25px">In The News</h2>
<p class='lead'>Headlines making the news today</p>
<hr/>
<div class="row">
    <div *ngFor="let article of newsData.articles; index as i">
            <div style="padding:10px">
                    <div class="card" style="width: 16rem">
                        <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap"/>
                        <div class="card-body" style="min-height: 200px">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.description}} </p>
                            <a style="padding-top:10px" href="{{ article.url }}" class="btn btn-primary">Take me there</a>
                        </div>
                    </div>
            </div>
    </div>
</div>
</div>
